@font-face {
    font-family: 'NanumBrush';
    src: url('NanumBrushOTF00.woff2') format('woff2'),
        url('NanumBrushOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

