@import url("./reset.css");
html, body {
  font-size: 16px;
}

div.center-block {
  width: 1080px;
  margin: auto;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

.hover-pointer:hover {
  cursor: pointer;
}

.user-select-none {
  user-select: none;
}

a:link, a.visited, a:link:active, a:visited:active, a{
  text-decoration: none;
  color: #000;
}

.pad-8 { padding: 8px; }
.pad-16 { padding: 16px; }
