@import url("./reset.css");
html, body {
  font-size: 16px;
}

.center-block {
  max-width: 1080px;
  margin: auto;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

.psd-hover-cursor-pointer:hover {
  cursor: pointer;
}

.user-select-none {
  user-select: none;
}

a:link, a.visited, a:link:active, a:visited:active, a{
  text-decoration: none;
  color: #000;
}

button.generic {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #4a4a4a;
  border-radius: 4px;
  padding: 4px;
  margin: 4px;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,.2);
}
button.generic:hover {
  cursor: pointer;
}
